<template>
    <div class="row">
        <div class="col">
            <h1 class="profile-title">Profile Detail</h1>
            <p>{{id}}</p>
            <p v-for="(val, key) in def"><b>{{key}}</b><br/> {{val}}</p>
            <router-link tag="button" class="btn btn-info" :to="`/user/${id}/edit`">Edit</router-link>
        </div>
    </div>
</template>

<script>
import { requireConfig } from '../../config' 

export default {
    mixins: [requireConfig],
    computed: {
        profile(){
            return this.$store.getters.profiles[this.$route.params.id] || {}
        },
        id(){
            return this.profile.id
        },
        def(){
            return this.profile.def
        }
    }    
}
</script>

<style></style>