<template>
    <div class="row">
        <div class="col">
            <h1 class="profile-title"><span v-if="isnew">New</span><span v-else>Edit</span> profile</h1>
            <form class="row">
                <div class="col-12">
                    <input
                        type="text"
                        name="name"
                        v-model="name"
                        placeholder="name"></input>
                </div>
                <div class="col-12">
                    <textarea
                        name="bio"
                        v-model="bio"
                        placeholder="bio"></textarea>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" @click.prevent="save">
                        <span v-if="isnew">Add</span>
                        <span v-else>Edit</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { requireConfig } from '../../config' 

export default {
    props: ['isnew'],
    mixins: [requireConfig],
    data(){
        return {
            id: null,
            name: '',
            bio: ''
        }
    },
    computed: {
        hasProfiles(){
            return Object.keys(this.$store.getters.profiles).length > 0
        },
        profiles(){
            return this.$store.getters.profiles
        }
    },
    methods:{
        save(){
            this.$store.dispatch('setProfile',{
                id:this.id,
                def: {
                    name: this.name,
                    bio: this.bio
                }
            })
            this.$router.push('/user/list')
        }
    },
    created(){
        if(
            this.isnew !== true &&
            this.hasProfiles &&
            typeof this.profiles[this.$route.params.id] != 'undefined'
        ){
            let {id, def} = this.profiles[this.$route.params.id]
            this.name = def.name
            this.bio = def.bio
            this.id = id
        }
    }
}
</script>

<style></style>