<template>
    <div class="row">
        <div class="col">
            <h1 class="profile-title">Profiles</h1>
            <router-link tag="button" class="btn btn-info mb-3" :to="`/user/new`">Add new profile</router-link>
            <p v-if="!hasProfiles">no profiles yet</p>
            <ul v-else>
                <li v-for="profile in profiles">
                    <router-link :to="`/user/${profile.id}`">{{profile.def.name}}</router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        profiles(){
            return this.$store.getters.profiles
        },
        hasProfiles(){
            return Object.keys(this.$store.getters.profiles).length > 0
        }
    }
}
</script>

<style></style>