<template>
    <div class="row">
        <div class="col">
            <h1>Admin</h1>
            <p>admin panel</p>
        </div>
    </div>
</template>

<script>
import { manager, requireConfig } from '../config' 

export default {
    mixins: [manager, requireConfig]
}
</script>

<style></style>