<template>
    <div class="row">
        <div class="col">
            <h1>Config</h1>
            <form>
                <div>
                    <label>Name</label>
                    <input type="text" name="name" v-model:value="name"></input>
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" name="email" v-model:value="email"></input>
                </div>
                <div>
                    <button class="btn btn-primary" @click.prevent="setup">Submit</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {manager} from '../config'

export default {
    data: function(){
        return {
            email: '',
            name: ''
        }
    },
    methods: {
        setup(){
            this.setConfig({email: this.email, name: this.name})
            this.$router.push('/admin')
        }
    },
    mixins: [manager]
}
</script>

<style></style>