<template>
    <nav class="header-wrapper row">
        <div class="header col-12">
            <span class="logo" @click="goHome">LOGO</span>
            <nav class="menu">
                <p v-if="config.name" class="mr-3 my-0">{{config.name}}</p>
                <router-link tag="button" to="/" exact active-class="active" class="btn btn-primary mr-3">Home</router-link>
                <router-link tag="button" to="/user/list" exact active-class="active" class="btn btn-primary mr-3">Profiles</router-link>
                <router-link tag="button" to="/admin" exact active-class="active" class="btn btn-primary">Admin</router-link>
            </nav>
        </div>
    </nav>
</template>

<script>
import config from '../config'

export default {
    methods: {
        goHome(){
            this.$router.push('/')
        }
    },
    mixins: [config]
}
</script>

<style scoped>
    .logo{
        font-size:30px;
        cursor:pointer;
    }
    .header{
        padding-top:20px;
        padding-bottom:20px;
    }
    .header, .header .menu{
        display:flex;
        flex-direction:flex-row;
        justify-content:space-between;
        align-items:center;
    }
</style>