<template>
    <div class="row">
        <div class="col">
            <h1>404</h1>
            <p>We could not process your request</p>
        </div>
    </div>
</template>

<script></script>

<style></style>