<template>
  <div id="app" class="container">
    <MainHeader></MainHeader>
    <hr></hr>
    <router-view/>
  </div>
</template>

<script>
import MainHeader from './components/Header'

export default {
  name: 'App',
  components: {
    MainHeader
  }  
}
</script>

<style>
</style>
